body {
    display: flex;
    margin: 0;
}
/* Header starts here */
header {
    background-color: #1f2937;
    font-size: 24px;
    font-weight: bolder;
    color: #f9faf8;
    display: inline;
    margin: 0;
    flex: 1;
    text-align: center;
}

header p {
    margin: 0;
    margin-top: 20px;
    margin-left: -170px;
}

/* nav starts here */
nav {
    background-color: #1f2937;
    color: #f9faf8;
    display: inline;
    margin: 0;
    flex: 1;
    text-align: center;
}

ul {
    text-align: center;
    margin-top: 25px;
    padding: 0;
    font-size: 18px;
}

li {
    display: inline;
    padding: 5px;
}

/* Main starts here */
main {

}

section {
    
}